[Desktop Entry]
Version=1.0
Type=Application
Name=Spotlight
Comment=Ricerca (Spotlight)
Exec=@HOME@/.local/bin/macos-spotlight.sh
Icon=system-search-symbolic
Terminal=false
StartupNotify=false
